# Notebook checkpoints
.ipynb_checkpoints/

env/

*.zip

# folder containing pdfs
audit_reports/

# ignore xlsx files
*.xlsx

# ignore scratch file
Untitled.ipynb

# libreoffice excel files
*.xlsx#

# .env file
.env

# test file
test.py

__pycache__